@media (max-width: 810px) {
  .burger {
    display: block;
  }
  .header {
    height: 12vh;
    position: fixed;
  }
  .header--navbar {
    justify-content: space-around;
  }
  .header--navbar > .navbar__menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(114, 103, 134);
    box-shadow: inset 0 0 5rem 5rem rgba(255, 255, 255, 0.4);
    top: 12vh;
    gap: 7vh;
    font-size: 1.5rem;
    width: 100vw;
    height: calc(100vh - 12vh);
    transition: all 0.5s;
    transform: translateX(-200%);
  }
  #toggle--burger:checked ~ .navbar__menu {
    transform: translateX(0);
  }
  .main__hero--info {
    padding: 7rem 1rem 4rem 1rem;
  }
  .hero__about {
    padding: 2rem 1rem;
  }
  .body--txt {
    font-size: 2.5vw;
  }
  .body--txt b {
    font-size: 3vw;
  }
  .btn--content p {
    font-size: 2vw;
  }
  .servicios--body {
    width: 95%;
  }
  .card--head p {
    font-size: 2.5vw;
  }
  .card--head span {
    font-size: 7.5vw;
  }
  .body--info h3 {
    font-size: 3vw;
  }
  .body--info p {
    font-size: 2vw;
  }
  .body--card:hover {
    height: 50vw;
  }
  .body--card {
    height: 25vw;
  }
  .servicios--body {
    height: 50vw;
  }
  .info--btns > button {
    font-size: 2vw;
  }
  .pie--box--head {
    flex-direction: column;
  }
  .head__info {
    flex-direction: column;
    width: 60%;
    gap: 2vw;
    align-items: center;
  }
  .galeria--body {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1vw;
    padding: 2vw;
  }
  .body--certs:hover {
    transform: scale(1.3);
  }
  .proyectos__body--card:hover > .body__card--info {
    transform: translateX(50vw);
  }
  .card--izquierda:hover > .body__card--info {
    transform: translateX(-50vw);
    width: 37vw;
  }
  .project-btn {
    font-size: 1.5vw;
    padding: 1vw;
  }
  .body__card--info {
    width: 37vw;
  }
  .card__info--head h3 {
    font-size: 2vw;
  }
  .card__info--head p {
    font-size: 1.5vw;
  }
  .contacto--box {
    width: 70vw;
  }
  .contacto--form h2 {
    font-size: 7.5vw;
  }
  .pie--box--foot {
    gap: 3vw;
    flex-direction: column-reverse;
  }
}
@media (max-width: 425px) {
  .box--33p {
    width: fit-content;
  }
  .header--navbar > .navbar__logo {
    font-size: 4vw;
    padding: 0;
  }
  .input--box {
    width: 90vw;
  }
  .about--body {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    flex-direction: column;
  }
  .galeria--head h2 {
    font-size: 7vw;
  }
  .galeria--return span {
    color: var(--titulo);
    font-size: 10vw;
  }

  .galeria--head {
    padding: 1rem;
  }
  .galeria--body {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1vw;
    padding: 2vw;
  }
  .head--portada {
    width: 80%;
  }
  .body--txt b {
    font-size: 6vw;
  }
  .body--txt {
    font-size: 5vw;
    padding: 0 2rem;
  }
  .btn--content p {
    font-size: 4vw;
  }

  .body--card:hover {
    height: 58vw;
  }
  .info--btns span {
    font-size: 4vw;
  }
  .proyectos__body--card:hover > .body__card--info {
    transform: translateX(35vw) translateY(5vw);
    scale: 1.2;
  }
  .card--izquierda:hover > .body__card--info {
    transform: translateX(-35vw) translateY(5vw);
    scale: 1.2;
  }
  .contacto--box {
    width: 90vw;
  }
  .contacto--box:hover .contacto--form {
    gap: 0.5rem;
    width: 100%;
  }
  .head__info {
    width: 100%;
  }
  .info__box--logo {
    width: 100%;
  }
  .info__box--logo h2 {
    font-size: 10vw;
    padding: 0;
    text-align: center;
  }
  .head__mapa {
    width: 90vw;
    height: 100%;
  }
}
